.btn-tn{
    color: rgba(0,220,255,.6);
    background-color: none;
    border-color: rgba(0,220,255,.4);
    border-radius: 1.5rem;
}

.btn-tn:hover{
    color: rgba(0,220,255,.8);
    border-color: rgba(0,220,255,.4);
    border-radius: 1.5rem;
    box-shadow: inset 0px 0px 6px rgba(0,220,255,.6), 0 0 6px rgba(0,220,255,.6);
}